__pycache__/
tests/__pycache__
pythiatransformer.egg-info/
.ipynb_checkpoints/
pythiatransformer/1M_events/
pythiatransformer/data/*
# Don't ignore the transformer model.
!pythiatransformer/data/transformer_model_*.pt
# Don't ignore the directory itself if empty.
!pythiatransformer/data/



